@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* DarkMode */
  --primary: #181818;
  --primary-Opacity: rgb(24, 24, 24, 0.65);
  --secundary: #212121;

  --color-text-primary: #c4c4c4;
  --color-text-secundary: #00d2df;
  --colorPink: #d24074;
  --colorPurple: #6518b4;
  --colorPurpleLight: #9358f7;
  --gradiente-purple: linear-gradient(269.96deg, #10d7e2 0%, #9358f7 100%);
  --gradient-pink: linear-gradient(270.06deg, #6518b4 0%, #d24074 101.62%);
}

.light-mode:root {
  --primary: #fbfcfc;
  --primary-Opacity: #fbfcfca6;
  --secundary: #e6e8eb;

  --color-text-primary: #0e0e0e;
  --color-text-secundary: #223858;
  --colorPink: #d24074;
  --colorPurple: #223858;
  --colorPurpleLight: #0f2f5e;
  --gradiente-purple: linear-gradient(269.96deg, #10d7e2 0%, #9358f7 100%);
  --gradient-pink: linear-gradient(270.06deg, #6518b4 0%, #d24074 101.62%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--primary);
  /* transition: all .5s;*/
}

/* Barra de rolagem */

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colorPurple);
  border: 1px solid var(--colorPurpleLight);
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--primary);
  color: var(--color-text-primary);
  height: 100vh;
  width: 100%;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2% 10%;

  background: var(--primary-Opacity);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-bottom: var(--primary-Opacity);
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
header h3 {
  color: var(--color-text-secundary);
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.5s;
}

header h3:hover {
  transform: rotate(3600deg);
  color: var(--colorPink);
}
#menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  gap: 2rem;
  font-weight: 600;
  font-size: 1rem;
}

#menu ul li a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: all 0.2s;
}

#menu ul li a:hover {
  color: var(--colorPink);
  border-bottom: 3px solid var(--color-text-secundary);
}

/* botão mode-light */

.label {
  background-color: var(--secundary);
  width: 51px;
  height: 26px;
  padding: 6px;
  border-radius: 50px;
  border: 1px solid #181818;
  position: relative;
  display: flex;
  transition: background 0.2s linear;
  justify-content: space-between;
  align-items: center;
}

.ball {
  background-color: var(--primary);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  transition: transform 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-sun {
  color: #ffc400;
}
.fa-moon {
  color: #bdbdbd;
}

#gabazevdo {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  color: var(--secundary);
  font-weight: 700;
  z-index: -1;

  align-items: center;
}

#gabazevdo > span {
  max-height: 100vh;
  opacity: 0.5;
  max-width: 100%;
  line-height: 80%;
  font-size: 35rem;
  overflow-wrap: break-word;
}

/* Seções */
section {
  padding: 2% 10%;
}

/* Home */
#home {
  display: flex;
  align-items: center;
  justify-content: initial;
  width: 100%;
  height: 90vh;
  margin-top: 5%;
  background-image: url(../img/Looper\ BG.svg);
  background-repeat: no-repeat;
  background-position: 700px;

  background-size: 75%;
  position: relative;
}

.apresentacaoHome {
  display: flex;
  flex-direction: column;
  height: 40%;
}
.apresentacaoHome h1 {
  font-size: 5rem;
  margin-top: 2%;
  color: var(--color-text-secundary);
}

.apresentacaoHome > h2 > h3 {
  text-transform: uppercase;
}
/* Botões */

a {
  text-decoration: none;
  color: currentColor;
  outline: none;
}

.btns {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.btns a {
  max-width: 10rem;
  flex: 1;
}

.btns .btn {
  max-width: 15rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  position: relative;
  cursor: pointer;
  flex: 1;

  font-weight: 600;
  font-size: 0.8rem;
}

.btn i {
  display: flex;
  align-items: center;
}

.gradient-purple::after {
  background: var(--gradiente-purple) border-box;
}

.btn.gradient-purple::after {
  background: var(--gradiente-purple) border-box;
}

.gradient-pink::after {
  background: var(--gradient-pink) border-box;
}

.btn.gradient-pink::after {
  background: var(--gradient-pink) border-box;
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Sobre mim */

#sobre {
  background-color: var(--secundary);
  height: 80vh;
  padding: 0 15%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.minha-foto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 41%;
  border-left: 8px solid var(--color-text-secundary);
  border-radius: 4px 0 0 4px;
  background-color: var(--primary);
}
.minha-foto img {
  width: 100%;
}

.sobre-mim {
  height: 100%;
  width: 50%;
  padding-top: 8%;
}
.textos-sobre h2,
.textos-sobre h3 {
  margin-bottom: 5%;
}

.textos-sobre > p {
  margin-bottom: 1%;
  text-align: justify;
}

.tags-tech {
  margin: 10% 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.tags-tech svg {
  color: var(--color-text-secundary);
  width: 8%;
  transition: all 0.2s;
}

.tags-tech svg:hover {
  color: var(--colorPink);

  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Projetos */

#projetos {
  background-color: var(--secundary);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

.projects h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 60px;
}

.cards {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.cards .card {
  max-width: 500px;
}

.card-img {
  max-width: 500px;
  height: 200px;
  background-color: var(--primary);
  border-left: 4px solid var(--color-text-secundary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text-secundary);
}

.cards .card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.cards .card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 26px;
  color: var(--gray-light);
}

.cards .card span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 32px;
  color: var(--color-text-secundary);
}

.card button {
  width: 130px;
  height: 40px;
  color: var(--color-text-primary);
  z-index: 1;
  border-radius: 6px;
  position: relative;
  background: linear-gradient(
    45deg,
    var(--colorPurple),
    var(--color-text-secundary)
  );
  border: 0;
  margin-bottom: 80px;
  font-size: 0.8rem;
  font-weight: 600;
}

.cards .card button::before {
  background: var(--secundary);
  content: "";
  position: absolute;
  z-index: -1;
  inset: 2px;
  border-radius: 4px;
}

/* Experiencia */
#experiencia {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  height: 60vh;
  width: 100%;
  padding: 0 15%;
}

.content {
  display: flex;
  gap: 103px;
  align-items: center;
  width: 90%;
}

.left h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 44px;
}

.left ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 15rem;
}

.left li {
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  padding: 1rem 2rem;
  border-left: 2px solid var(--secundary);
  transition: all 0.5s;
}

.left li:nth-child(1) {
  border-left: 2px solid var(--color-text-secundary);
  background-color: var(--secundary);
}

.left li:hover {
  border-left: 2px solid var(--color-text-secundary);
  background-color: var(--secundary);
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
}

.right .title h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.right .title span {
  font-size: 1rem;
  font-weight: 500;
}

.right .tag {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 26px;
  color: var(--color-text-secundary);
}

.right p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--gray-light);
}

/* Contato */

#contato {
  background-color: var(--primary);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button,
input,
select,
textarea {
  font: inherit;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  width: 40%;
  max-width: 768px;
  margin: 60px auto;
  position: relative;

  border-radius: 50px;
  background: linear-gradient(145deg, var(--primary), var(--secundary));
  box-shadow: 20px 20px 60px var(--primary);
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

#container h2 {
  color: var(--color-text-);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8%;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px var(--color-text-primary);
  color: var(--colorPurple);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name .email {
  float: left;
  width: 100%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  color: var(--color-text-secundary);

  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject .telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: var(--color-text-secundary);
}

:-moz-placeholder {
  color: var(--color-text-secundary);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--color-text-secundary);
}

.submit button {
  width: 130px;
  height: 40px;
  color: var(--color-text-primary);
  z-index: 1;
  border-radius: 6px;
  position: relative;
  background: linear-gradient(45deg, var(--colorPink), var(--colorPurple));
  border: 0;
  margin-bottom: 80px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.submit button::before {
  background: var(--secundary);
  content: "";
  position: absolute;
  z-index: -1;
  inset: 2px;
  border-radius: 4px;
}

footer {
  background-color: var(--secundary);
  width: 100%;
  padding: 2% 10%;
  color: var(--color-text-primary);
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 1.1rem;
  color: #105f63;
  font-weight: 700;
}

footer span {
  color: #00d2df;
  transition: all 0.2s;
  font-weight: 900;
}
footer span:hover {
  color: #d24074;
}
